{% extends "myblog/base.html" %}
{% block meta %}
{% load static %}
<link rel="stylesheet" href="{% static "myblog/md.css" %}" />
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block main %} 
<div class="mainbox">
<h1>{{ article.title }}</h1>
<div class="content">{{ content|safe }}</div>
</div>
{% endblock %}
