<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static "myblog/base.css" %}" type="text/css" />
		{% block meta %}
		{% endblock %}
		<title>BBPumpkin的博客</title>
	</head>
	<body>	
		<div id="header">
			<nav>
				<ul id="nav">
					<li><a href="{% url "index" %}">首页</a></li>
					<li><a href="{% url "article_list" %}">全部博文</a></li>
					<li><a href="#">分类归档</a></li>
					<li><a href="#">日期</a></li>
					<li><a href="#">关于博主</a></li>
					<li><a href="{% url "upload" %}">上传博文</a></li>
				</ul>
			</nav>
		</div>
		<div id="container">
			<div id="main-single">
				{% block main %}
				{% endblock %}
			</div>
			</div>
		</div>
	</body>
</html>
