<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static "myblog\base.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "myblog\effect.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.css"%}" />
		{% block meta %}
		{% endblock %}
		<title>首页</title>
	</head>

	<body>
		<div id="container">
			<div id="side">
				<div id="logobar">BBPumpkin的博客</div>
				<div class="navbox">			
					<ul id="nav">
						{% include "myblog/nav.html" %}
					</ul>
				</div>
				{% block side %}
				{% endblock %}
			</div>
			<div id="main">
			{% block main %}
			{% endblock %}
			</div>
		</div>
	</body>
</html>
