<li><a href="{% url "article_list" %}"><i class="fa fa-fw fa-home"></i>首页</a></li>
<li><a href="#"><i class="fa fa-fw fa-archive"></i>归档</a></li>
<li><a href="#"><i class="fa fa-fw fa-th"></i>分类</a></li>
<li><a href="#"><i class="fa fa-fw fa-tags"></i>标签</a></li>
<li><a href="#"><i class="fa fa-fw fa-book"></i>系列</a></li>
<li><a href="#"><i class="fa fa-fw fa-sticky-note"></i>札记</a></li>
<li><a href="#"><i class="fa fa-fw fa-user"></i>关于</a></li>
<li><a href="#"><i class="fa fa-fw fa-search"></i>搜索</a></li>
<li><a href="{% url "upload" %}"><i class="fa fa-fw fa-upload"></i>上传</a></li>