@keyframes kf {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
.slideUp {
	animation: kf 1.5s;
}
@keyframes fadeInFrame{
	from { opacity:0%;}
	to {opacity: 100%;}
}
.fadeIn{
	animation: fadeInFrame 0.5s ease-in;
}
.fadeInContent *{
	animation: fadeInFrame 0.5s ease-in;
}
@keyframes slideDownFrame{
from { transform:translateY(-10px);}
to {transform:translateY(0);}
}
.slideDown {
	animation: slideDownFrame 0.9s;
}
.slideDownContent * {
	animation: slideDownFrame 0.9s;
}

@keyframes msgSlideDownFrame {
	0% {
		top:-100px;
	}
	50% {
		top:0;
	}
	100% {
		top:-100px;
	}
}
.msg-box{
	position: fixed;
	top:-100px;
	background-color:rgb(70, 128, 235);
	width: 100%;
	padding: 6px;
	padding-left:30px;
	opacity: 60%;
	animation: msgSlideDownFrame 4s;
}
.fixed-top{
	position: fixed;
	top:30px;
}