.md h1{
}
.md h2{
}
.md h3{
}
.md ul{
	float: none;
	margin: 0;
	padding:0;
	margin-left:1em;
}
.md li{
	margin-top: 1.5em;
}
.md hr{
	margin-top: 30px;
	margin-bottom: 30px;
	color: rgb(255, 255, 255);
}
.md p{
	font-family: "-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji";
	font-size: 18px;
}
.md .ita{
	font-style: italic;
}
.md .em{
	font-weight:bold;
}
.md ul, .md ol{
	padding-left: 2em;
}
.md h1,.md h2{
	margin-bottom: 2em;
}
.md h3, .md h4, .md h5, .md h6{
	margin-bottom: 1em;
}